* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  background-color: #d8d3d3;
}

/* navigation */
.mySidenav a {
  position: absolute;
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 130px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

.mySidenav a:hover {
  left: 0;
}

.home {
  top: 20px;
  background-color: #4caf50;
}

.contact {
  top: 80px;
  background-color: #2196f3;
}

.aboutme {
  top: 140px;
  background-color: #f44336;
}

.portfolio {
  top: 200px;
  background-color: #555;
}
/* body layout and design */

/* main content */
main {
  width: 60%;
  margin: 10px auto;
  padding: auto;
  border: auto;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-size: 18px;
  position: relative;
}
section {
  position: relative;
  border-bottom: 2px solid rgba(128, 128, 128, 0.316);
  margin: 3rem auto;
}

h2 {
  width: 30%;
  font-size: 2.5rem;
  text-align: center;
  background-color: rgba(165, 157, 157, 0.576);
  border-radius: 10px;
  margin: 10px auto;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  border: none;
  background-color: none;
}

/* elements inside the main container */
.page-title {
  margin: 10px auto;
}

/* Photos */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 20%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  iframe {
    height: 200px;
    margin-top: 20px;
  }
}

/* video */

iframe {
  width: 100%;
  height: 400px;
}

/* go to top bottom */
.topButton {
  background-color: #d7d9dc;
  border-radius: 20px;
  font-size: 1.3rem;
  color: black;
  padding: 6px;
  text-decoration: none;
  margin: 10px;
}

.topButton:hover {
  background: #e9ebee;
}
.last-section {
  position: absolute;
  bottom: -40px;
  left: 0px;
  border-bottom: none;
  margin-top: 10px;
}
