* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  background-color: #f5f5f5;
}

/* navigation */
.mySidenav a {
  position: absolute;
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 130px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

.mySidenav a:hover {
  left: 0;
}

.home {
  top: 20px;
  background-color: #4caf50;
}

.contact {
  top: 80px;
  background-color: #2196f3;
}

.aboutme {
  top: 140px;
  background-color: #f44336;
}

.portfolio {
  top: 200px;
  background-color: #555;
}
/* body layout and design */

/* main content */
main {
  width: 60%;
  margin: 10px auto;
  padding: auto;
  border: auto;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-size: 18px;
}

/* Photos */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 20%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
