* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  background-image: url(../img/9903da6e5f0038a281a170e81a46e7ec.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

/* Navigation */
#mySidenav a {
  position: absolute;
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 130px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#home {
  top: 20px;
  background-color: #4caf50;
}

#contact {
  top: 80px;
  background-color: #2196f3;
}

#aboutme {
  top: 140px;
  background-color: #f44336;
}

#portfolio {
  top: 200px;
  background-color: #555;
}

/* general layout of the page */
main {
  margin-top: 3rem;
  width: 80%;
  margin: auto;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
}
.container {
  box-sizing: border-box;
  position: center;
  right: 0;
  margin: auto;
  margin-top: 10rem;
  max-width: 300px;
  padding: 0px 16px 16px 16px;
  background-color: rgba(255, 255, 255, 0, 9);
}

.quote {
  /* border: 2px dashed red; */
  width: 20vw;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.576);
  border-radius: 20px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 6px 10px 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.container {
  position: relative;
}
