/* Navigation shared with all pages */
#mySidenav a {
  position: absolute;
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 130px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#home {
  top: 20px;
  background-color: #4caf50;
}

#contact {
  top: 80px;
  background-color: #2196f3;
}

#aboutme {
  top: 140px;
  background-color: #f44336;
}

#portfolio {
  top: 200px;
  background-color: #555;
}

/* End of the navigation code */

/* Code for the Contact Page */

.container {
  box-sizing: border-box;
  position: center;
  right: 0;
  margin: 0px 26px 26px 150px;
  max-width: 300px;
  padding: 0px 16px 16px 16px;
  background-color: rgba(255, 255, 255, 0, 9);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 6px 10px 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.container {
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 330px;
  right: -800px;
  left: 300x;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
