/* Navigation shared with all pages */
#mySidenav a {
  position: absolute;
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 130px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#home {
  top: 20px;
  background-color: #4caf50;
}

#contact {
  top: 80px;
  background-color: #2196f3;
}

#aboutme {
  top: 140px;
  background-color: #f44336;
}

#portfolio {
  top: 200px;
  background-color: #555;
}

/* End of the navigation code */

/* Code for the Contact Page */
