@font-face {
  font-family: "pt-sans";
  src: url(../fonts/PTSans-Regular.ttf);
  font-weight: regular400;
  font-style: normal;
}

:root {
  --color-text-main: rgba(51, 45, 45, 0.754);
}

header {
  margin: 20px auto;
}

a,
h1 {
  color: var(--color-text-main);
  font-family: "pt-sans";
  font-style: normal;
}

/* Project Gallery */

img {
  width: 300px;
  height: 200px;
  margin: 10px;
  box-shadow: 5px 5px rgba(162, 154, 154, 0.193);
  transition: all ease-in 400ms;
}

/* Animation effect on the images*/
img:hover {
  transform: scale(1.09);
}
