header {
  margin: 10px auto;
}

main {
  margin: auto;
}

img {
  width: 250px;
  margin: 10px;
}

h1 {
  text-align: center;
}

.navbar-expand-lg {
  /* border: 2px dashed red; */
}

.container-fluid {
  /* border: 2px solid red; */
}

ul {
  padding: 0;
}

.sidenav {
  /* border: 2px solid pink; */
}
